@import url(./__title/profile-edit__title.css);
@import url(./__inp-name/profile-edit__inp-name.css);
@import url(./__inp-work/profile-edit__inp-work.css);
@import url(./__btn-save/profile-edit__btn-save.css);
.profile-edit {
  display: none;
  width: 430px;
  height: 330px;
  background-color: #FFF;
}